/*
Color Palette:
    #222222 - Black
    #22A39F - Teal
    #F3AA60 - Orange
*/

body {
    background-color: #222222;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
}

button {
    background: transparent; 
    border: none; 
    font-size: 0;
}

p {
    color: #F4E0B9;
}

label {
    color: #6D8B74;
}

input {
    border: none; 
    outline: none; 
    background-color: #222222; 
    color: #F4E0B9;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    width: 70%;
}

div {
    color: #F4E0B9;
}

ul {
    list-style: none;
    color: #F4E0B9;
  }
  
  ul li::before {
    content: "+ ";
    color: #6D8B74;
  }

  h1 {
    color: #F4E0B9;
  }
  
  h2, h3, h4, h5, h6 {
    color: #6D8B74;
  }

  div p {
    color: #F4E0B9;
  }

  textarea {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #F4E0B9;
    border-radius: 4px;
    background-color: #222222;
    font-size: 16px;
    resize: none;
    color: #F4E0B9;
    outline: none;
  }