/*
Color Palette:
    #222222 - Black
    #22A39F - Teal
    #F3AA60 - Orange
*/

body {
    background-color: #222222;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
}

button {
    background: transparent; 
    border: none; 
    font-size: 0;
}

p {
    color: #22A39F;
}

label {
    color: #F3AA60;
}

input {
    border: none; 
    outline: none; 
    background-color: #222222; 
    color: #22A39F;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    width: 90%;
}

div {
    color: #22A39F;
}

ul {
    list-style: none;
    color: #F4E0B9;
  }
  
  ul li::before {
    content: "+ ";
    color: #6D8B74;
  }

  h1 {
    color: #F4E0B9;
  }
  
  h2, h3, h4, h5, h6 {
    color: #6D8B74;
  }

  div p {
    color: #F4E0B9;
  }