/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-56onf4oz1r] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-56onf4oz1r] {
    flex: 1;
}

.sidebar[b-56onf4oz1r] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-56onf4oz1r] {
    background-color: #121212;
    border-bottom: 1px solid #3A4E48;
    justify-content: space-between; 
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-56onf4oz1r]  a, .top-row[b-56onf4oz1r]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-56onf4oz1r]  a:hover, .top-row[b-56onf4oz1r]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-56onf4oz1r]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-56onf4oz1r] {
        justify-content: space-between;
    }

    .top-row[b-56onf4oz1r]  a, .top-row[b-56onf4oz1r]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-56onf4oz1r] {
        flex-direction: row;
    }

    .sidebar[b-56onf4oz1r] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-56onf4oz1r] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-56onf4oz1r]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-56onf4oz1r], article[b-56onf4oz1r] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Blog.razor.rz.scp.css */
/* /Pages/Home.razor.rz.scp.css */
